readline
socket
threading
getpass
platform
os
subprocess
random
requests
ctypes
psutil
shutil
sys
wmi
pyautogui
datetime
discord_webhook
json
base64
time
uuid
colorama
platform
urllib.request
cv2
GPUtil
tabulate
configparser
pyqt5
tkinter
